* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: var(--bg-color);
    max-width: 1440px;
    margin: auto;
}

header {
    padding: 1.5rem 2.5rem;
    @include mainColors;
    box-shadow: 0px 1px 2px var(--input-color);
}

#countries{
    @include centerContainer(center);
    flex-wrap: wrap;
    gap: 73px 70px;
}