@media (max-width: 683px) {
    .country-info-details{
        gap: 1rem !important;
        flex-wrap: wrap !important;
    }
}

@media (max-width: 409px) {
    .filter-search .search{
       width: 100%;  
    }
}